.bg-sidebar1 {
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  ) !important;
}

.first__ {
  display: flex;
  align-items: center;
  gap: 30px;
}

.close__ {
  font-size: 20px;
  cursor: pointer;
}
